# Sanity Configuration
VITE_SANITY_PROJECT_ID=dkgrjdjy
VITE_SANITY_DATASET=production
VITE_SANITY_TOKEN=isi_dengan_token_dari_sanity_manage

# Admin Dashboard Security
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=alfakhir2025

# ReCaptcha Security (Register at https://www.google.com/recaptcha/admin)
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
